*.o
*.d
*.bak
*.old
*.nc
*.swp
*.synctex.gz
*.aux
*.log
test/BaroclinicWaveJWTest
test/BaroclinicWaveUMJSTest
test/BarotropicInstabilityTest
test/SWTest2

test/ShallowWaterEddyTest

test/InertialGravityCartesianXZTest

test/ThermalBubbleCartesianTest

test/ScharMountainCartesianTest

test/InertiaGravityWaveTest

test/HydrostaticMountainCartesianTest

test/NonHydroMountainCartesianTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainRossbyTest

test/nonhydro_sphere/BaroclinicWaveJWTest

test/nonhydro_sphere/BaroclinicWaveUMJSTest

test/nonhydro_sphere/MountainWaveSphereTest

test/nonhydro_sphere/InertiaGravityWaveTest

test/nonhydro_xz/HydrostaticMountainCartesianTest

test/nonhydro_xz/InertialGravityCartesianXZTest

test/nonhydro_xz/NonHydroMountainCartesianTest

test/nonhydro_xz/ScharMountainCartesianTest

test/nonhydro_xz/ThermalBubbleCartesianTest

test/shallowwater_sphere/BarotropicInstabilityTest

test/shallowwater_sphere/MountainRossbyTest

test/shallowwater_sphere/SWTest2

test/nonhydro_sphere/BaldaufGravityWaveTest

test/nonhydro_sphere/ScharMountainSphereTest

test/nonhydro_sphere/MountainRossby3DTest

test/nonhydro_sphere/HeldSuarezTest

test/nonhydro_sphere/StationaryMountainFlowTest

util/ExtractSurface/ExtractSurface

util/ZonalTemporalAverage/ZonalTemporalAverage

test/nonhydro_sphere/DG.txt

test/nonhydro_sphere/DGRef.txt

test/nonhydro_sphere/G.txt

util/MountainWavesSphere/GenerateWaveTopography

util/MountainWavesSphere/GenerateScharTopography

util/MountainWavesSphere/GenerateMountainResponse

util/MountainWavesSphere/ComputeWaveModes

test/shallowwater_sphere/RossbyHaurwitzWaveTest
