*.o
*.d
*.bak
*.old
*.nc
*.swp
*.synctex.gz
*.aux
*.log
test/BaroclinicWaveJWTest
test/BaroclinicWaveUMJSTest
test/BarotropicInstabilityTest
test/SWTest2

test/ShallowWaterEddyTest

test/InertialGravityCartesianXZTest

test/ThermalBubbleCartesianTest

test/ScharMountainCartesianTest

test/InertiaGravityWaveTest

test/HydrostaticMountainCartesianTest

test/NonHydroMountainCartesianTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainWaveSphereTest

test/MountainRossbyTest
